<%- include('partials/header'); -%>

<header>
 
  <div class="headings">
    <h2>JWT Authentication App</h2>
    <h3>Made With Node.js, Express, Mongoose and EJS</h3>
    <a href="/dashboard" class="btn">View Dashboard</a>
  </div>
</header>


<%- include('partials/footer'); -%>